<footer>
    <div class="container-fluid">
        <div class="logo-links-container">
            <img src="/img/bfvault-logo.svg" alt="bfvault-logo">
            <div class="links">
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/contact_us">Contact Us</a>
                    </li>
                    <li>
                        <a href="/terms_of_use">Terms</a>
                    </li>
                    <li>
                        <a href="/privacy_policy">Privacy</a>
                    </li>
                </ul>
            </div>
        </div>
        <p class="text-center">© 2026 BFVault. All rights reserved</p>
    </div>
</footer>