<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <!--Bootstrap css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <!--Index css -->
    <link rel="stylesheet" href="/styles/index.css">
    <!--Header css -->
    <link rel="stylesheet" href="/styles/header.css">
    <!--Main css -->
    <link rel="stylesheet" href="/styles/contact-us-page.css">
    <!--Footer css -->
    <link rel="stylesheet" href="/styles/footer.css">
</head>

<body>
    <!--Header-->
    <%- include('../partials/header') %>
        <!--Main-->
        <main>
            <div class="container">
                <h1>Contact Us</h1>
                <p>Have a question, suggestion, or feedback?</p>
                <p>We'd love to hear from you! The team at BFVault is always happy to receive your thoughts and
                    questions.</p>
                <p>We usually respond within one business day, so don’t hesitate to get in touch.</p>
                <p>Contact us directly at: <span>bfvault.contact@proton.me</span></p>
            </div>
        </main>
        <!--Footer-->
        <%- include('../partials/footer') %>
            <!--Bootstrap Js-->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
                crossorigin="anonymous"></script>
</body>

</html>