main {
  background-color: #18181b;
  color: white;
  padding: 1.5rem;
}
main h1 {
  margin-bottom: 2rem;
}
main h2 {
  font-size: 1.5rem;
}
main section.container-fluid {
  padding: 0;
  margin-top: 2rem;
}

/*Footer*/
